* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: hsl(221, 100%, 96%);
}

.purple-box {
    width: 50%;
    height: 100vh;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-color: hsla(256, 72%, 46%, 1);
}

.white-box {
    width: 50%;
    height: 100vh;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

#the-result {
    display: flex;
}

.your-result {
    color: white;
}


#statistics {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#great {
    text-align: center;
    font-size: 2rem;
    color: white;
}

#details {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.score-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reaction {
    background-color: #fecccc;
    color: hsl(0, 100%, 67%);
    border-radius: 10px;
    width: 80%;
}

.memory {
    background-color: #feeecc;
    color: hsl(39, 100%, 56%);
    border-radius: 10px;
    width: 80%;
}

.verbal {
    background-color: #80ffd9;
    color: hsl(166, 100%, 37%);
    border-radius: 10px;
    width: 80%;
}

.visual {
    background-color: #80e9ff;
    color: hsl(234, 85%, 45%);
    border-radius: 10px;
    width: 80%;
}

button {
    width: 80%;
    border-radius: 40px;
    background-color: hsla(241, 72%, 46%, 0);
}

