* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: hsl(221, 100%, 96%);
}

.purple-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100vh;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-color: hsla(256, 72%, 46%, 1);
}

.white-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100vh;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#statistics {
    text-align: center;
}

#great {
    text-align: center;
}

#details {
    text-align: center;
}