body {
    width: 100%;
    display: flex;
    margin: 8px;
    font-family: 'Hanken Grotesh', sans-serif;
    background-color: hsl(221, 100%, 96%);
}

.purple-container {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 10px;
}

.white-container {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.the-result {
    display: flex;
    justify-content: center;
}

.summary {
    display: flex;
    text-align: center;
}