body {
    width: 100%;
    display: flex;
    margin: 8px;
    font-family: 'Hanken Grotesh', sans-serif;
    background-color: hsl(221, 100%, 96%);
}

h1 {
    font-size: 40px;
}

.purple-box {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 10px;
    margin-left: 300px;
}

.white-box {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-right: 300px;
}

.white-container {
    display: inline-block;
}

.the-result {
    padding-left: 50px;
    text-align: center;
}

.reaction,
.memory, 
.verbal,
.visual {
    display: inline-block;
    vertical-align: top;
}


